.whole {
  background-color: rgb(17, 17, 17);
  padding: 10px 40px;
  border-radius: 0 0 30px 30px;
  color: white;
  z-index: 10;
  position: relative;
  top:0;
width: 93.65%;
 
}

.sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left:40px;
 margin: auto;
 
}

.leftLinks,
.rightLinks {
  display: flex;
  gap: 40px;
}

.navItem {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.navItem:hover {
  background-color: #ff7a00;
}

.active {
  background-color: #ff7a00;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.jcCircle {
  background-color: #ff7a00;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.jcreaText {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
